div.table {
  width: 80%;
  min-height: 100px;
  margin: auto;
  display: flex;
  flex-flow: column;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}
div.head {
  padding: 0.5rem;

  display: flex;
  text-align: center;
  border-bottom: 3px double black;
  /* font: 13px Helvetica, Arial, sans-serif; */
  font-size: 12px;
  font-weight: bold;
}
.col1 {
  flex: 2 2;
}
.col2 {
  flex: 7 7;
}
.col3 {
  flex: 3 3;
}
.col4 {
  flex: 1 1;
}

div.row {
  padding: 0.5rem;
  display: flex;
  text-align: center;
  border-bottom: 1px solid gray;
}
div.rank {
  flex: 2 2;
  font: 16px serif, Helvetica, Arial, sans-serif;
}
div.left {
  flex: 7 7;
  overflow: hidden;
  text-align: left;
}
div.right {
  flex: 3 3;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
div.number {
  flex: 1 1;
  display: inline-grid;
  margin-left: 10px;
  font: 16px Helvetica, Arial, sans-serif;
  text-align: right;
  align-items: center;
}
.title {
  font: 16px serif, Helvetica, Arial, sans-serif;
  display: block;
  max-height: 2.5rem;
  overflow: -webkit-paged-x;
}
.pub_year {
  font: 12px Helvetica, Arial, sans-serif;
  display: inline;
  padding-right: 8px;
  font-weight: bold;
}
.publication {
  font: 12px Helvetica, Arial, sans-serif;
  display: inline;
  padding-right: 8px;
  font-style: italic;
}
.authors {
  font: 12px Helvetica, Arial, sans-serif;
  display: block;
}

div.rows :hover {
  background: #eee;
  cursor: pointer;
}
