.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

button {
  font: 17px Helvetica, Arial, sans-serif;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  cursor: pointer;
  margin-left: auto;
}
button[selected="true"] {
  font: 17px Helvetica, Arial, sans-serif;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  cursor: pointer;
  margin-left: auto;
}
